<header>
	<div class="background"></div>
	<div id='create' class='create button'><p>Create League</p></div>
	<div class='login button'><p>Login</p></div>
	<section id='admin_login_holder'>
			<%=  render "admins/admin_login_form" %>
		</section>
</header>


