<header>
	<div class="background"></div>
	<div id='create' class='create button'><p>Create League</p></div>
		<section id='user_holder'>
			<%=  render "users/user_form" %>
		</section>
	<div class='login button'><p>Login</p></div>
</header>


