<header>
	<div class="background"></div>

	<div id='create' class='create button'><p>Create League</p></div>
	<div class='new create_form'>
		<%=  render "players/player_form" %>
	</div>

	<div class='login button'><p>Login</p></div>
</header>
